<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
<title>Contacts</title>
<!--/* Used only for editing in Pinegrow -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
<!--*/-->
</head>
<body>
	<section layout:fragment="content">

		<div id="parent-div">
			<button hx-post="/public/htmx-test-view/clicked" 
				hx-trigger="click"
				hx-target="#my-div" 
				hx-swap="innerHTML">Click Me!</button>
		</div>

		<div id="my-div"></div>	
	</section>
</body>
</html>
